matplotlib
pandas
numpy
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
squarify
plotly
fpdf
reportlab
beautifulsoup4
numpy
seaborn
statsbombpy
requests
requests_cache
openpyxl
adjustText
xlsxwriter
highlight-text
